


 


   
   <!-- <a class="text-decoration-none" [routerLink] = "['/studentdetails',3]">Show Studentdetails</a>
   -->


    <div class="container-lg">
      <div class="row">
          <div class="col">
            <table  class="table table-bordered border-dark text-center">
                  <thead>
                    <tr>
                      <th>UserId</th>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                      <tr *ngFor="let singleData of data">
                       
                        <td>{{ singleData.userId }}</td>
                        <td>{{ singleData.id }}</td>
                        <td>{{ singleData.title }}</td>
                        <td><button class="btn btn-primary" [routerLink] = "['/studentdetails',singleData.id]">View</button></td>
                     
                      </tr>
                </tbody>
                </table>
                
          </div>
      </div>
  
  
      
  </div>
  



