


 


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item  active" aria-current="page"> Show Student</li>
    <li class="breadcrumb-item "> <a class="text-decoration-none" [routerLink] = "['/studentdetails',3]">Show Studentdetails</a></li>
  </ol>
</nav>

    <div class="container-lg">
      <div class="row">
          <div class="col">
            <table  class="table table-bordered border-dark text-center">
                  <thead>
                    <tr>
                      <th>UserId</th>
                      <th>Id</th>
                      <th>Title</th>
                      <th>Completed</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                      <tr *ngFor="let singleData of data">
                       
                        <td>{{ singleData.userId }}</td>
                        <td>{{ singleData.id }}</td>
                        <td>{{ singleData.title }}</td>
                        <td>{{ singleData.completed }}</td>
                     
                      </tr>
                </tbody>
                </table>
                
          </div>
      </div>
  
  
      
  </div>
  



