
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a class="text-decoration-none" routerLink="/student">Show Student</a></li>
      <li class="breadcrumb-item  active" aria-current="page"> Show Studentdetails</li>
    </ol>
  </nav>

    <div class="container-lg">
        <div class="row">
            <div class="col">
              <table  class="table table-bordered border-dark text-center">
                    <thead>
                      <tr>
                        <th>UserId</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Body</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                        <tr>
                          <td>{{ data.userId }}</td>
                          <td>{{data.id }}</td>
                          <td>{{ data.title }}</td>
                          <td>{{ data.body }}</td>
                       
                        </tr>
                  </tbody>
                  </table>
                  
            </div>
        </div>
    
    
        
    </div>
  









