<div class="container-lg">
    <div class="row">
        <div class="col">
              <table  class="table table-bordered border-dark">
                <thead>
                  <tr>
                    <th>UserId</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let singleData of data">
                    <td *ngIf="singleData.id  !== 3">{{singleData.userId}}</td>
                    <td *ngIf="singleData.id  !== 3">{{singleData.id}}</td>
                    <td *ngIf="singleData.id  !== 3">{{singleData.title}}</td>
                    <td *ngIf="singleData.id  !== 3">{{singleData.completed}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
