<div class="container-lg">
    <div class="row">
        <div class="col">
          <!-- <table  class="table table-bordered border-dark">
                <thead>
                  <tr>
                    <th>UserId</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Completed</th>
                  </tr>
                </thead>
                <tbody>
                 
                    <tr *ngFor="let singleData of data">
                      <ng-container *ngIf="singleData.id !== 3">
                      <td>{{ singleData.userId }}</td>
                      <td>{{ singleData.id }}</td>
                      <td>{{ singleData.title }}</td>
                      <td>{{ singleData.completed }}</td>
                    </ng-container>
                    </tr>
              </tbody>
              </table>-->
              
        </div>
    </div>


    
</div>
